<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_2_Section_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Given a Python list. Turn every item of a list into its square root
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: List of square roots

## Code

In [1]:
from math import sqrt
following_list = [1, 2,3,4,5,6]
print([sqrt(i) for i in following_list])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178]

# Task 2
Concatenate two lists with string items index-wise
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [3]:
list_1 = ['aa', 'bb', 'cc', 'dd', '555']
list_2 = ['aaaa', 'bbbb', 'cccc', 'dddd']
print([ list_1[i] + list_2[i] for i in range(min(len(list_1), len(list_2))) ])

['aaaaaa', 'bbbbbb', 'cccccc', 'dddddd']

# Task 3
Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [5]:
list_1 = [12,323123,12312,3123,123]
list_2 = [2131,123123,21312,2112,2112,21121212]
len1 = len(list_1)
len2 = len(list_2)
new_list_1 = []
new_list_2 = []
for i in range(max(len1, len2)):
  if i < len1:
    new_list_1.append(list_1[i])
  if i < len2:
    new_list_2.append(list_2[-(i+1)])
print(new_list_1)
print(new_list_2)

[12, 323123, 12312, 3123, 123]
[21121212, 2112, 2112, 21312, 123123, 2131]

# Task 4
Remove empty strings from the list of strings
## INPUT/OUTPUT
*   INPUT: List of strings
*   OUTPUT: List of strings without empty string

## Code

In [6]:
list_strings = ['dasd', '', '   ',' 3123', 'sadsad']
print([string for string in list_strings if string != ''])

['dasd', '   ', ' 3123', 'sadsad']

# Task 5
Add item 7000 after 6000 in the following Python List
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [7]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Task 6
Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [8]:
list1 = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
list1[2][1][2].extend(["h", "i", "j"])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Task 7
Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [11]:
list1 = [1, 2,3,4,5,7,3, 20]
try:
  idx_ = list1.index(20)
  list1[idx_] = 200
except ValueError:
  pass
list1

[1, 2, 3, 4, 5, 7, 3, 200]

# Task 8
Given a Python list, remove all occurrence of 20 from the list
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New list

## Code

In [12]:
list1 = [1,2,3,4,20,20,2,2,2]
print([i for i in list1 if i != 20])

[1, 2, 3, 4, 2, 2, 2]