<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_2_Section_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Below are the two lists convert it into the dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Dict from two lists

## Code

In [3]:
dictionary = {}
keys = ['a','b','c']
values = [1,2,3]
for i in range(len(keys)):
  dictionary[keys[i]] = values[i]
dictionary

{'a': 1, 'b': 2, 'c': 3}

# Task 2
Merge following two Python dictionaries into one
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New dict

## Code

In [5]:
dict1 = {'a':1, 'b':2, 'c':3}
dict2 = {'aa':1, 'b2':2, 'c':5}
new_dict = dict1.copy()
new_dict.update(dict2)
new_dict

{'a': 1, 'aa': 1, 'b': 2, 'b2': 2, 'c': 5}

# Task 3
Access the value of key ‘history’
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Value of "history"

## Code

In [6]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
sampleDict['class']['student']['marks']['history']

80

# Task 4
Initialize dictionary with default values
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New dictionary

## Code

In [7]:
dictionary = {}
default_value = {'test', 800}
keys = [1,2,3,4,5]
for key in keys:
  dictionary[key] = default_value
dictionary

{1: {800, 'test'},
 2: {800, 'test'},
 3: {800, 'test'},
 4: {800, 'test'},
 5: {800, 'test'}}

# Task 5
Create a new dictionary by extracting following keys from a given dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New dictionary

## Code

In [9]:
dictionary = {}
sampleDict = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
}
keys = ['a', 'c']
for key in keys:
  dictionary[key] = sampleDict[key]
dictionary

{'a': 1, 'c': 3}

# Task 6
Delete set of keys from Python Dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New dictionary

## Code

In [10]:
dictionary = {}
sampleDict = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
}
keys = ['a', 'c']
for key in sampleDict:
  if key not in keys:
    dictionary[key] = sampleDict[key]
dictionary

{'b': 2}

# Task 7
Check if a value 200 exists in a dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: True/False

## Code

In [12]:
sampleDict = {
    'a' : 1,
    'b' : 4,
    'c' : 3,
}
200 in sampleDict.values()

False

# Task 8
Rename key ‘city’ to ‘location’ in the following dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New dictionary

## Code

In [13]:
sampleDict = {
    'city' : 1,
    'b' : 4,
    'c' : 3,
}
sampleDict['location'] = sampleDict.pop('city')
sampleDict

{'b': 4, 'c': 3, 'location': 1}

# Task 9
Get the key corresponding to the minimum value from the following dictionary
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Key of minimal value

## Code

In [16]:
sampleDict = {
    'city' : 1,
    'b' : 4,
    'c' : 3,
}
list(sampleDict.keys())[list(sampleDict.values()).index(min(sampleDict.values()))]

'city'