<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_1_Section_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Accept n number from user and calculate the sum of all number between 1 and n including n
## INPUT/OUTPUT
*   INPUT: N - number for colculate sum from 1 to n including n
*   OUTPUT: Sum of numbers between 1 and n including n

## Code

In [1]:
n = int(input('Enter the n: '))
print(f'Sum from 1 to {n} is', sum([i for i in range(1,n+1)]))

Enter the n: 100
Sum from 1 to 100 is 5050

# Task 2
Display -10 to -1 using for loop
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: All numbers between -10 and -1 including -1

## Code

In [2]:
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Task 3
Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 120 stop the loop iteration
## INPUT/OUTPUT
*   INPUT: Elements of list are separated by space
*   OUTPUT: Numbers from which devisible by 5, before first number greater 120

## Code

In [3]:
original_list = [int(i) for i in input('Enter the list separeted by space: ').strip().split(' ')]
for item in original_list:
  if item % 5 == 0:
    print(item)
  if item > 120:
    break

Enter the list separeted by space: 1 12 15 50 21 20 23 123 213 323 40
15
50
20

# Task 4
Print the following pattern


```
5 4 3 2 1
4 3 2 1 
3 2 1 
2 1 
1
```

## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Display numbers by following patern

## Code

In [4]:
for max_number_in_line in range(5, 0, -1):
  for line_element in range(max_number_in_line, 0, -1):
    print(line_element, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# Task 5
Given a number (int) count the total number of digits in a number

## INPUT/OUTPUT
*   INPUT: Input number 
*   OUTPUT: Display count digits in following number

## Code

In [5]:
n = int(input('Enter the number: '))
print(f'Total count of digist in {n}:', len(str(n)))

Enter the number: 1231231231231313123123
Total count of digist in 1231231231231313123123: 22

# Task 6
Reverse the given list using for loop

## INPUT/OUTPUT
*   INPUT: Elements of list are separated by space
*   OUTPUT: Display reversed list separated by space

## Code

In [6]:
original_list = [int(i) for i in input('Enter the list separeted by space: ').strip().split(' ')]
reversed_list = [original_list[index] for index in range(-1, -len(original_list)-1, -1)] # use only for loop
reversed_list_v2 = original_list[::-1] # use indexes iteration 
print(f"Reversed list of {original_list} is {reversed_list_v2}")

Enter the list separeted by space: 1 2 3 4 5
Reversed list of [1, 2, 3, 4, 5] is [5, 4, 3, 2, 1]

# Task 7
Display a message “Done” after successful execution of for loop (in one construction)

## INPUT/OUTPUT
*   INPUT: -
*   OUTPUT: Display a message “Done” after successful execution of for loop

## Code

In [10]:
for i in range(11):
  print(i)
else:
  print("Done")

0
1
2
3
4
5
6
7
8
9
10
Done

In [12]:
for i in range(11):
  print(i)
  if i == 5:
    print('Time to break')
    break
else:
  print("Done")

0
1
2
3
4
5
Time to break