<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_1_Section_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call
## INPUT/OUTPUT
*   INPUT: Two number separated by space
*   OUTPUT: Addition and substraction of following number

## Code

In [5]:
def calculation(a, b):
  return a+b, a-b

a, b = input('Enter two numbers separated by space: ').strip().split()
a, b= int(a), int(b)
addition, substraction = calculation(a, b)
print(f"Addition: {a} + {b} = {addition}\nSubstraction: {a} - {b} = {substraction}")

Enter two numbers separated by space: 123112 123123
Addition: 123112 + 123123 = 246235
Substraction: 123112 - 123123 = -11

# Task 2
Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Display Employee name, and it`s salary

## Code

In [9]:
def showEmployee(name, salary=9000):
  print(name, salary)

showEmployee(name='With salary',salary=5000)
showEmployee(name='Without salary')

With salary 5000
Without salary 9000

# Task 3
Write a recursive function to calculate the sum of numbers from 0 to 10

## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Display sum of numbers from 0 to 10

## Code

In [10]:
def sum_from_0_to_10(cur=0):
  if cur == 10:
    return 10
  return cur + sum_from_0_to_10(cur + 1)

print(sum_from_0_to_10()

55

# Task 4
Write a function such that it can accept a variable length of argument and print all arguments value
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Display all arguements of function

## Code

In [12]:
def foo(*args):
  for arg in args:
    print(arg)

foo(1, 2, 34, 'asdas', ('dasda',1,max))

1
2
34
asdas
('dasda', 1, <built-in function max>)

# Task 5
Assign a different name to function and call it through the new name
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Display FOOOOOOO!

## Code

In [13]:
def foo():
  print('FOOOOOOO!')

new_foo = foo
new_foo()

FOOOOOOO!

# Task 6
Generate a Python list of all the even numbers between 4 to 40
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Generated list

## Code

In [15]:
print([i for i in range(4,41, 2)])

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# Task 7
Return the largest item from the given list
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Largest item in given list

## Code

In [16]:
original_list = [1, 2, 4, 5, 6]
print(max(original_list))

6