<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_2_Section_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Add a list of elements to a given set
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [3]:
sampleSet = {'1', '2', '3'}
sampleListToAdd = ['5','6','9']
sampleSet.update(sampleListToAdd)
sampleSet

{'1', '2', '3', '5', '6', '9'}

# Task 2
Return a set of identical items from a given two Python set
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: Intersection of set1 and set2

## Code

In [4]:
set1 = set(['1', '2', '3', '10', '5'])
set2 = set(['5','6','9', '10'])
set1.intersection(set2)

{'10', '5'}

# Task 3
Returns a new set with all items from both sets by removing duplicates
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [5]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
set1.update(set2)
set1

{'1', '10', '2', '3', '5', '6', '9'}

# Task 4
Given a two Python sets, update first set with items that exist only in the first set and not in the second set
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [6]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
set1-set2

{'1', '2', '3'}

# Task 5
Remove 10, 20, 30 elements from a following set at onc
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [8]:
set1 = {'1', '2', '3', '10', '5'}
del_set ={'1', '3', '10'}
set1 = set1 - del_set
set1

{'2', '5'}

# Task 6
Return a set of all elements in either A or B, but not both
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [10]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
(set1 - set2) | (set2 - set1)

{'1', '2', '3', '6', '9'}

# Task 7
Determines whether or not the following two sets have any elements in common. If yes display the common elements
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [13]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
set_common = set1.intersection(set2)
if(set_common):
  print(f"Two sets have items in common:\n{set_common}")

Two sets have items in common:
{'5', '10'}

# Task 8
Update set1 by adding items from set2, except common items
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [16]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
set1 = (set1|set2) - set1.intersection(set2)
set1

{'1', '2', '3', '6', '9'}

# Task 8
Remove items from set1 that are not common to both set1 and set2
## INPUT/OUTPUT
*   INPUT: No input
*   OUTPUT: New set

## Code

In [17]:
set1 = {'1', '2', '3', '10', '5'}
set2 = {'5','6','9', '10'}
set1 - (set1-set2)

{'10', '5'}