<a href="https://colab.research.google.com/github/dj-kostya/NSU_PYTHON_2_Semestr_Practices/blob/master/Practice_1_Section_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1
Given a string of odd length, return a string made of the middle three chars of a given String
## INPUT/OUTPUT
*   INPUT: String of odd length
*   OUTPUT: string made of the middle three chars of a given String

## Code

In [0]:
base_string = input("Enter string of odd len: ").strip()
len_of_string = len(base_string)
if len_of_string % 2 == 0:
  raise ValueError("I need odd len string")
print('Three middle chars is', base_string[(len_of_string-1)//2 - 1:(len_of_string-1)//2 + 2])

Enter string of odd len: 123
Three middle chars is  123

# Task 2
Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1

## Code

In [0]:
s1 = "abcasdasdasfa"
s2 = "12312312313"
len_s1 = len(s1)
middle_s1 = len(s1)//2
print(f"{s1[:middle_s1]}{s2}{s1[middle_s1:]}")

abcasd12312312313asdasfa

# Task 3
Arrange String characters such that lowercase letters should come first

## Code

In [0]:
s1 = "asdadadasASdadsASDadsad"
print("".join(sorted(s1,key=str.swapcase)))

aaaaaaadddddddssssAADSS

# Task 4
Given a string input Count all lower case, upper case, digits, and special symbols
## INPUT/OUTPUT
*   INPUT: String 
*   OUTPUT: Count all lower case, upper case, digits, and special symbols

## Code

In [0]:
original_str = input()
lower_case = [char for char in original_str if char.islower()]
upper_case = [char for char in original_str if char.isupper()]
digits = [char for char in original_str if char.isdigit()]

print("Lower case:", len(lower_case))
print("Upper case:", len(upper_case))
print("Digits", len(digits))
print("Other symbols:", len(original_str) - len(lower_case) - len(upper_case)-len(digits))

123131weqweqweWEQEW@E!@#ddasd343
Lower case: 13
Upper case: 6
Digits 9
Other symbols: 4

# Task 5
Find all occurrences of "Python" in given string ignoring the case
## INPUT/OUTPUT
*   INPUT: String 
*   OUTPUT: Count occurrences of "Python" in given string

## Code

In [22]:
input_str = input()
lower_str = input_str.lower()
print(f"Count 'Python' in '{input_str}' is {lower_str.count('python')}")

python python PYTHON
Count 'Python' in 'python python PYTHON' is 3

# Task 6
Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters
## INPUT/OUTPUT
*   INPUT: String 
*   OUTPUT: Sum and average of the digits that appear in the string

## Code

In [26]:
input_str = input()
digits = [int(char) for char in input_str if char.isdigit()]
print("Sum is", sum(digits))
print("Average is", sum(digits)/len(digits))

5waweawe2
Sum is 7
Average is 3.5

# Task 7
Given an input string, count occurrences of all characters within a string
## INPUT/OUTPUT
*   INPUT: String 
*   OUTPUT: Count occurrences of all characters within a string

## Code

In [33]:
input_str = input()
all_chars = list(set(input_str))
for char in sorted(all_chars):
  print(f"'{char}': {input_str.count(char)}")

@asdasd123!!!$$$$
'!': 3
'$': 4
'1': 1
'2': 1
'3': 1
'@': 1
'a': 2
'd': 2
's': 2